@import "../../app.component.css";
.component {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-top: 35vh;
    font-size: calc(1px + 1.5vh);
}
.main-text {
    font-size: calc(22px + 2.5vw);
    width: max-content;
}
.support-text {
    margin-top: 1vh;
    font-size: calc(10px + 0.3vw);
}
