@import "../../app.component.css";
.header {
    text-align: center;
    background: #eb0087;
    font-family: monospace;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}
.exit-button {
    float: right;
    margin-top: -5px;
    
}
@media (max-width: 577px) {
    .exit-button {
        float: none;
    }
}
